body {
  background-color: #f9f9f9;
  color: @base;
  font-family: @base-font-family;
}

// header style
.header {

  &.landing-page {
    background: #4B525C url(/images/landing-page-bg.jpg) no-repeat center top;
    .background-size(cover);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    & > .navbar {
      padding-top: 16px;
      padding-right: 40px;
      padding-left: 40px;
      margin-bottom: -100px;
      height: 200px;
      #gradient > .vertical(#434A54, transparent, 10%, 100%);

      & .navbar-nav {
        margin-top: 10px;

        & > li > a {
          font-family: 'Dosis';
          font-size: 16px;
          text-transform: uppercase;
          color: #ffffff;
          padding-left: 24px;
          padding-right: 24px;
          background-color: transparent;

          &:hover,
          &:focus {
            color: #DB4453;
          }
        }

      }
    }
  }

}

// top-navbar-logo
.top-navbar-logo {
  padding: 0;
  margin-top: 15px;
  margin-left: 12px;

  & > svg {
    width: 140px;
    height: 40px;

    path {
      fill: #dddddd;
      .transition(all 0.12s ease-in-out);
    }

    &:hover path {
      fill: @main-accent;
    }
  }
}

// landing page header content style
.landing-page-inner {
  position: relative;
}

.landing-page-imagery {
  .pull-left();
  width: 45%;
  padding-top: 60px;

  & > img {
    margin-left: -20px;
    position: fixed;
    top: 130px;
  }
}

.landing-page-body {
  .pull-left();
  padding-top: 220px;
  padding-right: 100px;
  padding-left: 100px;
  font-family: 'Dosis';
  font-size: 18px;
  width: 55%;
  color: #fff;

  label {
    font-size: 24px;
    font-weight: 100;
  }

  input {
    border-color: @main-accent;

    &:focus {
      border-color: @main-accent;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(219, 68, 83, 0.5);
    }
  }

}

.landing-page-logo {
  height: 80px;
  width: 288px;

  & path {
    fill: #fff;
  }
}


// button revamp manifest
.btn-primary {
  .button-variant(@btn-primary-color; @main-accent; darken(spin(@main-accent, -5), 5%));
}


// responsive style
@media (min-width: 724px){

}

// vertical responsive style
@media screen and ( max-height: 680px ){
    .landing-page-body{
      padding-top: 180px;
    }
}
